{% extends 'usuarios/main.html' %}

{% block title %}

<title> USUARIO-DATOS </title>

{% endblock %}

{% block content %}

<table class="table table-borderless-md-center">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Correo</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>

        {% for user in users %}
        <tr>
            <td>{{user.nombre}}</td>
            <td>{{user.email}}</td>
            <td>{{user.rol}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}